*{
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    
}
body{
    background-color: rgb(42, 40, 40);
    overflow-y: hidden;
    overflow-x: hidden
}

#mainHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.8vh;
    background-color: green;
    color: honeydew;
}

#name{
    font-size: 2em;
    margin: 0 0 0 2rem;
    text-shadow: 4px 3px 0px #130f0f;
}

a{
    text-decoration: none;
    color: honeydew;
}

#mainNavbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3.5rem;
    list-style: none;
    margin: 0 2rem 0 0;
    font-size: 2em;
}

.mainLi{
    cursor: pointer;
    text-shadow: 4px 3px 0px #130f0f;
}

.mainLi:hover{
    cursor: pointer;
    border-bottom: black solid 6px;
    padding: 32px 0;
}

#mainMiddle{
    display: flex;
}

.midDiv{
    height: 75vh;
    width: 33.5%;
    border: black solid 2px;
    overflow: hidden;
}

#starry {
    width: 28vw;
}

#quoteCont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 4.5vw;
    font-size: 3.5rem;
    color: honeydew;
    text-shadow: 5px 4px 2px black;
}

#mainfooter{
    display: flex;
    height: 17vh;
    justify-content: center;
    align-items: center;
    background-color: green;
}

#mission{
    color: honeydew;
    text-shadow: 5px 4px 2px black;
}

/* Main Page css end and Bio Begin */



#bioBody{
    height: 95vh;
    position: relative;
}

#rightDiv{
    height: 100%;
    width: 33.5%;
    background-color: honeydew;
    position: absolute;
}

#bioImage{
    height: 75%;
    width: 25%;
    position: absolute;
    z-index: 9;
    left: 20vw;
    top: 8vh;
    box-shadow: -15px 15px 0px 0px rgba(0,0,0,0.1);
    border: rgb(8, 8, 8) solid 10px;
}

#bioDiv {
    height: 90%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-left: 55%;
    padding-right: 2vw;
    font-size: 3em;
    color: honeydew;
    text-align: center;
    text-shadow: 4px 2px 2px rgba(0,0,0,0.8);
}



/* end of Bio and start of experience */



#expBody{
    height: 95vh;
    width: 99.9%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#inExp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24vh;
    width: 50%;
    font-size: 2em;
    
}

.one{
    background-color: honeydew;
    color: green;

}

.two{
    background-color: green;
    color: honeydew;
    text-shadow: 4px 2px 2px rgba(0,0,0,0.8);
}

.right {
    align-self: flex-end;
}

.expText{
    padding: 10%;
}

/* end of experience and beginning of  portfolio*/

#portDiv, #projects, .proImg, .desc {
    border: white solid 3px;
}